extends layout

block content
  h1= title
  p Select a group, an album, and see what others have had to say.

  select#group-select(name="group-choice" required)

  select#album-select(name="album-choice" hidden required)
    
  h2 Comments

  section#comments
    // The article element repeats for each comment
    //- https://www.sitepoint.com/how-why-use-html5-custom-data-attributes/

  footer
  script(src="/javascripts/validate.js")
