extends layout

doctype html
head
  title= Album Comment
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='css/styles.css')
body
  h1 Album Comments
  p
  form(action='https://wocoders.com/~dave/cosc335/echo_server.php' method='POST')
    ul
      li(title='Enter a name (3 to 12 letters)')
        label(for='name') Name:
        input#name(type='text' name='name' required='' autofocus='' pattern='[A-Za-z]{3,12}' title='3 to 12 letters')
      li
        label(for='email-addr') Email address:
        input#email-addr(type='email' name='email-addr' required='')
      link
      label(for='album') Album:
      select#album(name='album' required='' title='Select an album')
        option(value='')  Select&mldr;
      li
        label(for='comments') Comments:
        textarea#comments(name='comments' title='Enter your comments. Keep it clean.  )' placeholder='Comments…' required='')
      li
        input(type='submit' value='Submit' disabled='')
